.banner {
  width: 100vw;
  height: calc(100vh / 6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-size: contain!important;
  

  .title {
    font-size: 32px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 26px;
  }
}
.banner-left {
  align-self:flex-start;
  height: 100%;
}
.banner-right {
  align-self: flex-end;
  height: 100%;
}
.bannerText {
  height: 100%;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.masonry-container {
  height: calc(100vh - 20px);
}

.masonry {
  padding: 1em;
  max-width: 100vw;
  width: 100vw !important;
  min-height: calc(100vh)!important;
  overflow: hidden;
}

.masonry-item {
  background-color: #fff;
  margin-bottom: 10px;

  img,video {
    width: 100%;
  }
  .description {
    padding: 0.6em;
    background-color: #fff;
    word-wrap: break-word;
    font-size: 1vw;
    max-height: 140px;
    overflow: hidden;
  }

  .text-container {
    
    padding: 0.6rem;
    .quote {
      font-size: 5em;
    }
    .quote:first-child {
      margin-top: 1.6rem;
      line-height: 50%;
      margin-bottom: -1.6rem;
    }
    .quote:last-child {
      text-align: right;
      line-height: 50%;
      margin-top:1.6rem;
      margin-bottom: -1.6rem;
    }
    .description {
      font-size: 1.2vw;
    }
  }
}
.user {
  padding: 0.6rem;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
}
.avatar {
  width: 12% !important;
  height: 12% !important;
  border-radius: 100%;
}
.info {
  margin-left: 0.6em;
  width: 100%;
  min-width: 0;
  div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}



.postTypeImage{
  width: 15%!important;
  height: 15%!important;
}


.sponsor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 2s;
  img {
    height: 100%;
    width: 100%;
  }
}

.sponsor.show {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: calc(100vh);
  background-color: white;
  text-align: center;
  opacity: 1;
  transition: opacity 2s;
  img {
    height: 100%;
    width: 100%;
  }
}
