<div class="masonry-container">
  <div
    class="banner"
    [ngStyle]="{ background: 'url(' + clientConfig.backgroundImageUrl + ')' }"
  >
  <img class="banner-left" [src]="clientConfig.leftImageUrl" />
  
    <div class="bannerText">
      <div class="title">{{ clientConfig.title }}</div>
      <div class="subtitle">{{ clientConfig.subtitle }}</div>
    </div>
    <img class="banner-right" [src]="clientConfig.rightImageUrl" />
  </div>

  <ngx-masonry
    [options]="masonryOptions"
    [useImagesLoaded]="true"
    [updateLayout]="updateMasonryLayout"
    class="masonry"
    [style.background-color]="clientConfig.backgroundColor"
  >
    <div
      ngxMasonryItem
      *ngFor="let post of posts"
      class="masonry-item"
      [ngStyle]="{ width: 'calc(100vw/' + clientConfig.lanes + ' - 1.438em)' }"
    >
      <div *ngIf="post.photo; else textOnly">
        <img *ngIf="!isVideo(post.photo); else videoContent" src="{{ post.photo }}" />
        <ng-template #videoContent>
          <video src="{{post.photo}}" autoplay loop oncanplay="this.muted=true"></video>
        </ng-template>
        <div class="description">
          {{ post.text }}
        </div>
      </div>
      <ng-template #textOnly >
        <div class="text-container">
          <div class="quote">“</div>
          <div class="description">
            {{post.text}}
          </div>
          <div class="quote">”</div>
        </div>
        </ng-template>
      <div class="user">
        <img  *ngIf="post.type ==='twitter'" src="{{ post.profilePic }}" class="avatar" />
        <div class="info">
          <div> {{post.type ==='twitter' ? post.name+' (@'+post.username+')' : ''}}</div>
          <div>{{ humanDifferenceTime(post) }}</div>
        </div>
        <img class="postTypeImage" *ngIf="post.type ==='twitter'" src="assets/twitter.svg" />
        <img class="postTypeImage" *ngIf="post.type ==='instagram'" src="assets/instagram.svg" />
      </div>
    </div>
  </ngx-masonry>
</div>

<div *ngIf="showSponsor" class="sponsor" [ngClass]="{'show': showSponsor}">
  <img [src]="clientConfig.sponsorsSplashUrl" />
</div>
